{% extends "base.html" %}
{% block body %}



<script src="../static/js/modernizr-1.7.min.js"></script>  
<link rel="stylesheet" type="text/css" href="../../static/css/reset.css" media="screen" title="html5doctor.com Reset Stylesheet" />
<link rel="stylesheet" type="text/css" href="../../static/css/css3.css" media="screen" />
    
<link rel="stylesheet" type="text/css" href="../../static/css/general.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../../static/css/grid.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../../static/css/forms.css" media="screen" />


<link rel="stylesheet" type="text/css" href="../../static/images/style.css" />
<!-- markItUp! -->
<script type="text/javascript" src="../../static/markitup/jquery.markitup.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="../../static/markitup/sets/default/set.js"></script>
<!-- markItUp! skin -->
<link rel="stylesheet" type="text/css" href="../../static/markitup/skins/markitup/style.css" />
<!--  markItUp! toolbar skin -->
<link rel="stylesheet" type="text/css" href="../../static/markitup/sets/default/style.css" />







<!--Search Part-->
<meta charset="utf-8"> 
<style>
.background {
    background: #7dbae3; 
    background-image: url("../../static/image1.jpeg"), url("../../static/image2.jpeg");
    background-repeat: repeat-x, repeat;
}
</style>





<style type="text/css">
.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}.classname:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}.classname:active {
    position:relative;
    top:1px;
}
</style>
<style>
body, div, h1, form, fieldset, input, textarea {
    margin: 0; padding: 0; border: 0; outline: none;
}



input {
    width: 160px; height: 35px; padding: 5px 20px 0px 20px; margin: 20px 20px 40px 0;
    background: #5E768D;
    background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
    font-family: sans-serif; font-size: 12px; color: #f2f2f2; text-shadow: 0px -1px 0px #334f71;
}
    input::-webkit-input-placeholder  {
        color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
    }
    input:-moz-placeholder {
        color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
    }

.iheader { display:block; font-size:3px; border-bottom:3px solid #000; padding:5px; text-indent:10px; margin:30px 0 15px }


</style>





<div class=row>
    <form action="{{ url_for('st.selecttask') }}" method=post>
        <!--<input type="search" name="searchbox" id="searchbox" placeholder="类型？"-->
        做什么:<input type="search" name="what" id="what" placeholder="做什么？">
        导师：<input type="search" name="who" id="who" placeholder="导师?">
        <input name="search" type="submit" value="搜索" class="button">
    </form>
</div>


<div class="row">
<section class="row" id="grid">
        <div class="col col_1">&nbsp;&nbsp;</div>
        <div class="col col_6"><h5>&nbsp;&nbsp;&nbsp;&nbsp;题目</h5></div>
        <div class="col col_4"><h5>&nbsp;&nbsp;&nbsp;&nbsp;导师</h5></div>
        <div class="col col_4"><h5>学生</h5></div>
	{% if tasks%}
	  {% for task in tasks %}
          <div class="row" style="height:80px">
            <div class="col col_1">&nbsp;&nbsp;</div>
            <div class="col col_6"><h5><a href="{{ url_for('st.showdetail',tid= task.id ) }}">{{ task.name }}</a></h5></div>
            <div class="col col_4"><h5><a href="{{ url_for('pf.showinfo',userid=task.pub_teacher) }}">{{ task.teachername }}</a></h5></div>
	    {% if task.studentname %}
            <div class="col col_4"><h5><a href="{{ url_for('pf.showinfo',userid=task.select_student) }}">{{ task.studentname }}</a></h5></div>
	    {% else %}
	    <div class="col col_4"><h5>"未选择"</h5></div>
	    {% endif %}
            <li class="iheader"></li>
            <div class="clear"></div>
          </div><!-- row -->
          <div class="row">
          <hr size="15" align="left"  color="black">
          </div>
         {% endfor %}
	{% else %}
	  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对不起 没有您要的结果</h3>
	{% endif %}

</section><!-- row -->
<div>
        {% for page in pagination.iter_pages() %}
		<a href="{{ url_for_other_page(page) }}">{{ page }}</a>
        {% endfor %}
	{% macro render_pagination(pagination) %}
		  <div class=pagination>
		  {% for page in pagination.iter_pages() %}
 			   {% if page %}
			     
     			      {% if page == pagination.page %}
   				      <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
  		              {% else %}
    			              <strong>{{ page }}</strong>
  		              {% endif %}
          		   {% else %}
    	         		  <span class=ellipsis>…</span>
   		       	   {% endif %}
 		  {% endfor %}
  		  {% if pagination.has_next %}
   		        <a href="{{ url_for_other_page(pagination.page + 1)}}">Next &raquo;</a>
 	          {% endif %}
  		  </div>
	{% endmacro %}
</div>	
{% endblock %}


